.intro-bg {
  background-color: #81c784;
  padding: 40px 0;
  .intro {
    display: flex;
    align-items: center;
    height: 80vh;
    .intro-item {
      color: white;
      width: 50%;
      p {
        font-size: 25px;
      }
      img {
        width: 100%;
        display: block;
        max-width: 400px;
      }
    }
  }
}
