.showPokemon {
  display: flex;
  width: 100%;
  align-items: flex-end;
  min-height: 521px;
  padding: 30px 0;
  color: #fff;
  background-color: #81c784;
  .nome {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
  }
}
.showPokemonContainer {
  margin: 0 auto;
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
  }
}
h2 {
  font-weight: 700;
}
.pokemonControl {
  display: flex;
  justify-content: space-between;
  button {
    order: 1;
  }
  button:active {
    opacity: 0.7;
  }
}
.pokemon-history {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    text-transform: capitalize;

    list-style: none;
    margin-left: 25px;
  }
}
.pokemon-info {
  .nome {
    text-transform: capitalize;

    font-size: 21px;
    font-weight: 700;
  }
  img {
    display: block;
    width: 100%;
    max-width: 300px !important;
  }
  margin: 60px 0;
}
